<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cvnhan.android.androiddatabackup">

    <application
        android:allowBackup="true"
        android:backupAgent="MyBackUpPlace"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="com.google.android.backup.api_key"
            android:value="AEdPqrEAAAAIwN0o4HgCXdKch5ZaAPYtH0bqq5k4TcEAqfrWqQ" />
    </application>

</manifest>
